@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700,400|Roboto:400,500,700);

html {
  margin: 0;
}

body {
  font-family: "Roboto" ,"Helvetica Neue";
  background-color: #1f2532;
}

.container {
  position: absolute;
  left: 80px;
  right: 0;
  margin: auto;
  padding: 2%;
}

#button1 {
  padding: 10px;
  border: 3px solid #e74c3c;
  border-radius: 3px;
  background-color: #1f2532;
  width: 150px;
  height: 50px;
  color: #e74c3c;
  font-weight: bold;
  font-size: 20px;
}

#button2 {
  padding: 10px;
  border: 3px solid #e74c3c;
  border-radius: 3px;
  background-color: #1f2532;
  width: 150px;
  height: 50px;
  color: #e74c3c;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 15px;
}

#button3 {
  padding: 10px;
  border: 3px solid #e74c3c;
  border-radius: 3px;
  background-color: #1f2532;
  width: 150px;
  height: 50px;
  color: #e74c3c;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 15px;
}

#button4 {
  padding: 10px;
  border: 3px solid #e74c3c;
  border-radius: 3px;
  background-color: #1f2532;
  width: 150px;
  height: 50px;
  color: #e74c3c;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 15px;
}

#resetButton {
  padding: 10px;
  border: 3px solid #e74c3c;
  border-radius: 3px;
  background-color: #1f2532;
  width: 670px;
  height: 50px;
  color: #e74c3c;
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
}

.jstitle {
  color: white;
  margin-bottom: 25px;
}

.jstitle > #jstitle-h2 {
  position: absolute;
  top: 35px;
  margin: 0;
  width: 670px;
  background-color: #e74c3c;
  border-radius: 5px;
  color: #1f2532;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

#buffer-zone {
  height: 50px;
}

#input1[type="text"] {
  color: #BDC3C7;
  border: none;
  border-bottom: 3px solid #e74c3c;
  background-color: #1f2532;
  font-size: 22px;
  padding-bottom: 5px;
}

#displayBox {
  border: 3px solid #e74c3c;
  border-radius: 3px;
  background-color: #1f2532;
  width: 664px;
  height: 80px;
  color: #e74c3c;
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
}

#displayBox > p {
  color: white;
  font-size: 50px;
  margin: 0;
  padding: 12px 0px 12px 25px;
}

.log {
  position: absolute;
  right: 100px;
  margin: auto;
  top: 35px;
  width: 500px;
  height: 587px;
  border: 3px solid #e74c3c;
  border-radius: 3px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#logTitle {
  margin: 0;
  width: 100%;
  padding: 5px;
  color: #e74c3c;
}

#logTitle > span {
  font-size: 25px;
}

#logText {
  color: #e74c3c;
  padding-left: 10px;
  line-height: 50px;
}


/*Scrollbar Styles*/
::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e74c3c;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e74c3c;
}
::-webkit-scrollbar-thumb:active {
  background: #e74c3c;
}
::-webkit-scrollbar-track {
  background: #1f2532;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #1f2532;
}
::-webkit-scrollbar-track:active {
  background: #1f2532;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
/*Scrollbar styles*/
